
QFrame#firstGame_tools{
    background-color: #989898;
}

BottomBtn#firstGame_delBtn {
        border-image: url("./plugins/firstGame/resources/icons/del.png");

}

BottomBtn#firstGame_addFilesBtn {
    border-image: url("./plugins/firstGame/resources/icons/openfieles.png");

}

BottomBtn#firstGame_addTenBtn {
    border-image: url("./plugins/firstGame/resources/icons/openten.png");

}




BtnImagePanel {
    border-top: 1px solid #757577;
    border-right: 1px solid #757577;
    border-bottom: none;
    border-left: 1px solid #757577;

    background-color: #f3f3f3;
}

ImageMapBtn {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #757577;
    border-left: none;
    padding: 0;
    background-color: #d1d1d1;
    font-family: Helvetica;
    font-size: 10pt;
    color: #505050;


}

ImageMapBtn:checked {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #0563a6;
    border-left: none;
    background-color: #bababa;
    padding: 0;
    color: #00549a;




}




/*ImageMapBtn {*/
    /*border-top: none;*/
    /*border-right: none;*/
    /*border-bottom: 5px solid #757577;;*/
    /*border-left: none;*/
    /*!*background-color: #29ce26;*!*/
    /*color: #858585;*/
    /*!*color: #004B6B;*!*/
    /*font-size: 12px;*/
/*}*/

/*ImageMapBtn:checked {*/

    /*background-color: #0d81bd;*/
/*}*/

/*ImageMapBtn:unchecked {*/

    /*background-color: #2dbd23;*/
/*}*/

