
QFrame#firstGame_tools{
    background-color: #989898;
}

BottomBtn#firstGame_delBtn {
        border-image: url("./plugins/firstGame/resources/icons/del.png");

}

BottomBtn#firstGame_addFilesBtn {
    border-image: url("./plugins/firstGame/resources/icons/openfieles.png");

}

BottomBtn#firstGame_addTenBtn {
    border-image: url("./plugins/firstGame/resources/icons/openten.png");

}




BtnImagePanel {
    border-top: 1px solid #757577;
    border-right: 1px solid #757577;
    border-bottom: none;
    border-left: 1px solid #757577;

    background-color: #f3f3f3;
}

ImageMapBtn {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #757577;
    border-left: none;
    padding: 0;
    background-color: #d1d1d1;
    font-family: Helvetica;
    font-size: 10pt;
    color: #505050;


}

ImageMapBtn:checked {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #0563a6;
    border-left: none;
    background-color: #bababa;
    padding: 0;
    color: #00549a;




}


QTabBar::tab {
    background: #989898;
    border: 2px solid #C4C4C3;
    border-bottom-color: #C2C7CB; /* same as the pane color */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 18ex;
    padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background: #d4d4d4;
}

QTabBar::tab:selected {
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB; /* same as pane color */
}

 QTabBar::close-button {
     image: url("./plugins/firstGame/resources/icons/closetub.png");;
     subcontrol-position: right;
 }

  QTabBar::close-button:hover {
     image: url("./plugins/firstGame/resources/icons/closetubhover.png");;
     subcontrol-position: right;
 }