QFrame#firstGame{
    background-color: #7b7b7d;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

QFrame#firstGame_tools{
    background-color: #989898;
}

QGraphicsView#firstGame_View{
    background-color: #f3f3f3;
}


